<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AllUsers</title>
</head>
<body>
<br>
<div th:each="u : ${allUsers}">
    <a th:text="${u.getFullName() + ', ' + u.getEmail() + ', ' + u.getAge()}">User</a>
    <a type="button" th:href="@{/user/{id}/edit(id=${u.getId()})}">Edit</a>
    <a type="button" th:href="@{/user/{id}/delete(id=${u.getId()})}">Delete</a>
</div>
<hr>
<br>
<form th:action="@{/user/new}">
    <label>
        <input th:type="submit" value="Add new user"/>
    </label>
</form>
</body>
</html>